body {
	font-family: arial;
	font-size: 12px;
}

a {
	color: black;
}

li a {
	font-size: 13px;
}

td {
	vertical-align: top;
}

td a {
	font-size: 13px;
}

img {
	border-width: 0px;
}

hr {
	border-width: 0px;
	background-color: #C0C0C0;
	height: 1px;
}

.indented {
	margin-left: 40px;
}

.header {
	font-weight: bold;
	font-size: 1.2em;
}

.header img {
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

.heading1 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 20pt;
}

h1 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 20pt;
}

.heading2 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 16pt;
}

h2 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 16pt;
}

.heading3 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 12pt;
}

h3 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 12pt;
}

.heading4 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 11pt;
}

h4 {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 11pt;
}

.heading {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 14pt;
}

.subject {
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 12pt;
}

input {
	color: black;
	font-family: courier;
	font-weight: medium;
	font-size: 10pt;
}

.login {
	color: black;
	font-family: arial;
	font-weight: medium;
	font-size: 10pt;
}

.slide {
	height: 100px;
}

.hidden {
	display: none;
}

.code {
	margin: 2px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	background: #eef3fa;
	font-size: 10px;
}

p {
	background: white;
	color: black;
	font-family: arial;
	font-weight: medium;
	font-size: 10pt;
}

blockquote {
	background: white;
	color: black;
	font-family: arial;
	font-weight: medium;
	font-size: 10pt;
	margin-left: 40px;
}

pre {
	color: black;
	font-family: courier;
	font-weight: medium;
	font-size: 10pt;
}

.new {
	background-color: #00BB00;
	border-radius: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	color: white;
	font-family: arial;
	font-size: 12px;
}
